[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tqdm = "*"
numpy = "*"
streamlit = "*"
opensearch-py = "*"
farm-haystack = {extras = ["crawler"], version = "*"}
fasttext = "*"
nltk = "*"
pandas-gbq = "*"
st-annotated-text = "*"
markdown = "*"

[dev-packages]
trafilatura = "*"
ipykernel = "*"
jupyter = "*"

[requires]
python_version = "3.9.11"
